* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg, lavender, burlywood, cyan);
}

.title {
  color: rgb(141, 29, 141);
  font-size: 4rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Archivo Black", sans-serif;
  font-weight: 200;
  font-style: normal;
  border: 3px solid black;
  background-color: rgb(155, 155, 155);

}

.heading {
  color: rgb(141, 29, 141);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 3px solid #000000;
  background-color: rgb(155, 155, 155);

}

h3 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  border: 1px solid black;
  width: 30%;
  height: 10%;
  border-radius: 10%;
  background-color: rgb(155, 155, 155);
  margin-left: 40rem;
}

.newCarRow {
  gap: 5rem;
  display: flex;
  margin: 1rem 5%;
}

.preOwnedCarRow {
  gap: 5rem;
  display: flex;
  margin: 1rem 5rem;
}

img {
  width: 250px; /* Set the width to 100% of the container */
  height: 250px; /* Maintain the aspect ratio */
  object-fit: contain; /* Do not scale the image */
  background-color: black;
  border-radius: 20rem;
  
}

button {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trade,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.trade {
  margin-top: 3rem;
}
